// Your variable overrides
$body-bg-1: #fff;
$body-bg-2: #333333;
$body-bg-3: #606060;
$body-bg-4: #000;
$primarycol-1: #642ca9;
$primarycol-2: #ca9ce1;
$primarycol-3: #f2befc;
$primarycol-4: #ead5e6;
$primarycol-5: #6e2594;

$body-color: #111;

@font-face {
  font-family: defFont;
  src: url(fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: regNunito;
  src: url(fonts/Nunito-Regular.ttf);
}
@font-face {
  font-family: boldNunito;
  src: url(fonts/Nunito-ExtraBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: medUbuntu;
  src: url(fonts/Ubuntu-Medium.ttf);
  font-weight: bold;
}
// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $body-bg-2;
  font-family: regNunito, sans-serif;
  aside {
    .navbar {
      //width: 250px;
      height: 100vh;
      position: fixed;
      margin-left: -300px;
      background-color: $body-bg-2;
      box-shadow: 0 2px 10px 0 $primarycol-3;
      transition: 0.4s;

      #profilePic {
        object-fit: cover;
        width: 100px;
        height: 100px;
        margin-top: 3rem;
        border-radius: 50%;
        outline-width: 4px;
        outline-style: solid;
        outline-color: $primarycol-3;
      }
      .a {
        align-items: center;
        justify-content: center;
        margin: 0px;
        h2 {
          font-family: medUbuntu, sans-serif;
          font-size: 2.5vw;
        }
      }
      hr {
        color: $primarycol-3;
        background-color: $primarycol-3;
        border: 2px solid;
        border-radius: 7px 7px 7px 7px;
        height: 2px;
        opacity: 1;
        width: 80%;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }
      .dropdown-menu {
        background-color: $primarycol-2;
        margin-top: 0.5rem;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
      .dropdown-item {
        padding-left: 0;
        transition: 0.2s;
        cursor: pointer;
        font-size: 1.1rem;
      }
      .dropdown-item:hover {
        padding-left: 1.5rem;
        background-color: $primarycol-4;
        transition: 0.2s;
        a {
          color: #111;
        }
      }
    }
    .active-nav {
      margin-left: 0;
    }
  }
  //---------------------------------------------------------------------------------------//
  header {
    #navbarSupportedContent {
      text-align: center;
    }
    #profilePic {
      object-fit: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      outline-width: 4px;
      outline-style: solid;
      outline-color: $primarycol-3;
    }
    .navbar {
      z-index: 1;
      background-color: $body-bg-2;
      position: fixed;
      width: 100%;
      padding: 1rem;
      padding-bottom: 0rem;
      box-shadow: 0px 0px 9px 3px $primarycol-3;
      .container-fluid {
        justify-content: center;
      }
    }
    hr {
      width: 100%;
      color: $primarycol-3;
      background-color: $primarycol-3;
      border: 2px solid;
      border-radius: 7px 7px 7px 7px;
      height: 2px;
      opacity: 1;
      margin: 0px;
      margin-top: 1rem;
    }
    .nav-item,
    .nav-item:hover {
      a {
        border-radius: 15px;
      }
    }
    .dropdown-menu {
      background-color: $primarycol-2;
      margin-top: 0.5rem;
      border-radius: 15px;
      text-align: center;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
    .dropdown-item {
      transition: 0.2s;
      cursor: pointer;
      font-size: 1.1rem;
    }
    .dropdown-item:hover {
      padding-left: 2.5rem;
      background-color: $primarycol-4;
      transition: 0.2s;
      a {
        color: #111;
      }
    }
    .navbar-toggler {
      img {
        width: 40px;
        height: 40px;
        transition: 0.3s;
      }
      border: 0;
      border: none;
      outline: none;
    }
    .navbar-toggler:focus {
      box-shadow: none !important;
    }
    .navbar-toggler:hover {
      img {
        transform: scaleY(1.5);
      }
    }
    .navbar-toggler:active {
      border: 0;
      border: none;
      outline: none;
    }
    ul {
      li {
        font-size: 1.25rem;
      }
    }
  }

  //------------------------------------------------------------------------------------------//

  main {
    transition: 0.4s;
    color: #fff;
    .menu-button-container {
      button {
        z-index: 1;
        margin-left: 15px;
        position: fixed;
        height: 5rem;
        width: 1rem;
        background-color: $primarycol-3;
        transition: 0.3s;
        top: 50%;
        transform: translate(0, -50%);
        font-family: boldNunito, sans-serif;
        font-weight: bold;
      }
      button:hover {
        height: 5rem;
        width: 3rem;
      }
      button:active {
        transition: 0.2s;
        height: 8rem;
        width: 3rem;
      }
    }
    .welcome-section {
      padding-top: 22vh;
      padding-bottom: 30vh;
      text-align: center;
      background-color: $body-bg-2;
      color: #fff;
      background: rgb(51, 51, 51);
      background: radial-gradient(
        circle,
        rgba(51, 51, 51, 1) 35%,
        rgba(37, 37, 37, 1) 79%,
        rgba(19, 19, 19, 1) 100%
      );
      .welcome-texts {
        padding-top: 5rem;
        padding-bottom: 5rem;
        h1 {
          font-size: 7vw;
          font-family: medUbuntu, sans-serif;
        }
        h3 {
          color: $primarycol-3;
        }
        h2 {
          font-size: 4vw;
        }
      }
      hr {
        color: $primarycol-3;
        background-color: $primarycol-3;
        border: 2px solid;
        border-radius: 7px 7px 7px 7px;
        height: 2px;
        opacity: 1;
        width: 80%;
        margin-left: 10%;
        margin-right: auto;
      }
    }
    .welcome-hr {
      margin: 0;
      color: $primarycol-3;
      background-color: $primarycol-3;
      border: 2px solid;
      height: 3;
      opacity: 1;
      width: 100%;
      box-shadow: 0px 0px 9px 3px $primarycol-3;
    }
    .task-content {
      .section2 h2 {
        text-align: center;
        font-size: 7vw;
        font-family: medUbuntu, sans-serif;
        margin-bottom: 10vh;
        margin-top: 30vh;
      }
    }
    .section2 {
      background-color: $body-bg-4;
      padding-top: 0px;
      padding: 0rem 3rem 3rem 3rem;
      .card {
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0);
        margin: 0rem 1rem;
        max-width: 80%;
        margin-left: 10%;
        margin-right: auto;
        .card-body:hover {
          box-shadow: 0px 0px 10px 6px $primarycol-3;
        }
        .card-body {
          background-color: $body-bg-2;
          transition: 0.4s;
          background: rgb(110, 37, 148);
          background: linear-gradient(
            120deg,
            rgba(110, 37, 148, 1) 0%,
            rgba(242, 190, 252, 1) 100%
          );
          box-shadow: 0px 0px 9px 3px $primarycol-3;
          border-radius: 15px;
          padding: 2rem;
          /*outline-style: solid;
          outline-color: $primarycol-3;
          outline-width: 3px;*/
          .holder {
            .info {
              h5 {
                margin: 0;
                text-align: center;
                font-size: 5vw;
                font-family: medUbuntu, sans-serif;
              }
              p {
                text-align: center;
                font-size: 3vw;
              }
            }
            a {
              .screen-img {
                transition: 0.3s;
                width: 98%;
                margin-left: 1%;
                margin-top: 1%;
                margin-bottom: 1%;
                margin-right: auto;
              }
              .screen-img:hover {
                cursor: pointer;
                width: 100%;
                margin-left: 0%;
                margin-top: 0%;
                margin-bottom: 0%;
                margin-right: auto;
              }
            }
          }
        }
      }
      .button-container {
        padding: 0 30%;
        .visit-site-btn {
          align-self: center;
          width: 100%;
          background-color: $primarycol-2;
          color: #fff;
          margin-top: 2rem;
          transition: 0.3s;
          height: 10vh;
          font-weight: bold;
          font-family: medUbuntu, sans-serif;
        }
        .visit-site-btn:hover {
          box-shadow: 0px 0px 9px 3px #f2befc;
        }
      }
    }
    .section3 {
      background-color: $body-bg-4;
      padding-top: 15vh;
      padding-bottom: 20vh;
      .card {
        background-color: rgba(0, 0, 0, 0);
        max-width: 80%;
        margin-left: 10%;
        margin-right: auto;
        height: 250px;
        text-align: center;
        .card-img-top {
          padding: 2rem;
          border-radius: 40px;
        }
        .card-body {
          background-color: $body-bg-2;
          border-radius: 15px;
          outline-color: $body-bg-3;
          outline-style: solid;
          outline-width: 3px;
          transition: 0.4s;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          .card-title {
            font-weight: bold;
            font-family: medUbuntu, sans-serif;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        .card-body:hover {
          cursor: pointer;
        }
      }
      .query-4-text {
        background: -webkit-linear-gradient(
          135deg,
          rgba(0, 159, 253, 1) 0%,
          rgba(129, 244, 225, 1) 100%
        );
      }
      .query-4:hover {
        box-shadow: 0px 0px 9px 3px rgba(0, 159, 253, 1);
      }
      .query-5-text {
        background: -webkit-linear-gradient(
          135deg,
          rgba(64, 249, 155, 1) 0%,
          rgba(200, 255, 190, 1) 100%
        );
      }
      .query-5:hover {
        box-shadow: 0px 0px 9px 3px rgba(200, 255, 190, 1);
      }
      .query-a-text {
        background: -webkit-linear-gradient(
          135deg,
          rgba(213, 185, 66, 1) 0%,
          rgba(246, 249, 48, 1) 100%
        );
      }
      .query-a:hover {
        box-shadow: 0px 0px 9px 3px rgba(246, 249, 48, 1);
      }
    }
    .section4 {
      .primary-video:hover {
        background-position-y: top;
        transition: 3s;
      }
      .primary-video {
        background-image: url("images/Sprintti2-img.png");
        background-size: cover;
        background-position: center center;
        color: white;
        object-fit: contain;
        height: 448px;
        transition: 3s;
        .primary-video-cont {
          margin-left: 55px;
          padding-top: 140px;
          height: 190px;
          .primary-video-title {
            font-family: medUbuntu, sans-serif;
            font-size: 3rem;
            font-weight: 800;
            padding-bottom: 0.3rem;
          }
          .primary-video-desc {
            width: 45rem;
            line-height: 1.3;
            padding-top: 1rem;
            font-size: 1rem;
            max-width: 360px;
            height: 180px;
          }
          .primary-video-button {
            cursor: pointer;
            color: #fff;
            outline: none;
            border: none;
            height: 60px;
            font-weight: 700;
            border-radius: 10px;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-right: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: rgba($primarycol-2, 0.7);
            transition: 0.3s;
            font-family: medUbuntu, sans-serif;
            font-size: 1.5rem;
          }
          .primary-video-button:hover {
            font-size: 1.9rem;
            background-color: rgba($primarycol-2, 0.9);
            box-shadow: 0px 0px 9px 3px #f2befc;
          }
        }
        .primary-video-bottom-fade {
          margin-top: 145px;
          height: 7.4rem;
          background-image: linear-gradient(
            180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            $primarycol-2
          );
        }
      }
    }
  }
  .card-reveal {
    transform: translateY(120px);
    opacity: 0;
    transition: all 1s ease;
  }
  .card-reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }

  .modal-content {
    background-color: $body-bg-2;
    iframe {
      width: 100%;
      height: 420px;
    }
  }
}

.nav-link {
  color: white;
  font-size: 1.25rem;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: $primarycol-2;
}
#side-menu-btn {
  background-color: $primarycol-2;
  color: #fff;
  font-size: 1.25rem;
}
#side-menu-btn:hover {
  box-shadow: 0 0 0 0.25rem #95679a;
}

@media (max-width: 575px) {
  .welcome-section {
    .welcome-texts {
      h3 {
        font-size: 1.5rem !important;
      }
      h2 {
        font-size: 2rem !important;
      }
      h1 {
        font-size: 3rem !important;
      }
    }
  }
  .section2 {
    padding: 0 !important;
    .button-container {
      .visit-site-btn {
        font-size: 3vw;
      }
      .visit-site-btn:hover {
        box-shadow: 0px 0px 9px 3px #f2befc;
        font-size: 4vw;
      }
    }
    #section-2-title {
      font-size: 2.5rem !important;
    }
    .info {
      .card-title {
        font-size: 2rem !important;
      }
      p {
        font-size: 1.5rem !important;
      }
    }
    .visit-site-btn {
      margin-bottom: 1rem;
      font-size: 1rem !important;
    }
    .visit-site-btn:hover {
      font-size: 1.2rem !important;
    }
  }
  .section3 {
    .card-title {
      font-size: 40px;
      span {
        font-size: 65px;
      }
    }
    .card-big-col {
      padding-top: 3rem;
    }
  }
}
@media (min-width: 576px) {
  //sm
  aside {
    .navbar {
      width: 200px !important;
    }
  }
  .active-cont {
    margin-left: 200px !important;
  }
  .section2 {
    .button-container {
      .visit-site-btn {
        font-size: 2.5vw;
      }
      .visit-site-btn:hover {
        box-shadow: 0px 0px 9px 3px #f2befc;
        font-size: 3vw;
      }
    }
  }
  .section3 {
    .card-title {
      font-size: 38px;
      span {
        font-size: 55px;
      }
    }
    .card-big-col {
      padding-top: 3rem;
    }
  }
}
@media (min-width: 768px) {
  //lg
  aside {
    .navbar {
      width: 250px !important;
    }
  }
  .active-cont {
    margin-left: 250px !important;
  }
  .section2 {
    .button-container {
      .visit-site-btn {
        font-size: 2.5vw;
      }
      .visit-site-btn:hover {
        box-shadow: 0px 0px 9px 3px #f2befc;
        font-size: 3vw;
      }
    }
  }
  .section3 {
    .card-title {
      font-size: 50px;
      span {
        font-size: 80px;
      }
    }
    .card-big-col {
      padding-top: 3rem;
    }
  }
}
@media (min-width: 992px) {
  .section3 {
    .card-big {
      max-width: 90% !important;
      margin-left: 5% !important;
      margin-right: auto !important;
    }
    .card-title {
      font-size: 45px;
      span {
        font-size: 70px;
      }
    }
    .card-big-col {
      padding-top: 5rem;
    }
  }
}

@media (min-width: 1200px) {
  //XL
  .section3 {
    .card-title {
      font-size: 60px;
      span {
        font-size: 90px;
      }
    }
    .card-big-col {
      padding-top: 5rem;
      .card-title {
        font-size: 70px;
        span {
          font-size: 100px;
        }
      }
    }
  }
}
