// Your variable overrides
$body-bg: rgb(171, 136, 136);
$body-color: #111;
// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

body{
    background-color: $body-bg;
    
    h1{
        text-align: center;
    }
}